In [1]:
from pathlib import Path
import numpy as np

from eos.data_interfaces.node_dfs_data_interface import NodeDFsDataInterface, NodeType
from eos.nodes.interm_layer_elements import parse_industry_nodes, parse_sub_industry_nodes, parse_theme_to_sub_industry_edges


sub_industry_label = np.load("../data/04_feature/sub_industry_label.npy")
industry_label = np.load("../data/04_feature/industry_label.npy")
node_dfs_data_interface = NodeDFsDataInterface(Path("../data/03_primary/node_dfs.json"))
node_dfs = node_dfs_data_interface.load()
ntype_to_df = node_dfs.to_dict()

df_theme = ntype_to_df[NodeType.theme]
df_sub_industry = parse_sub_industry_nodes(sub_industry_label)
df_industry = parse_industry_nodes(industry_label)

In [2]:
from eos.nodes.interm_layer_elements import parse_sub_industry_to_industry_edges


df_theme_to_sub_industry = parse_theme_to_sub_industry_edges(df_theme, df_sub_industry, sub_industry_label)
df_sub_industry_to_industry = parse_sub_industry_to_industry_edges(df_sub_industry, df_industry, industry_label)

In [3]:
df_theme

,nid,ntype,theme,description
0,0,Theme,Customer Support,Customer support is a critical aspect of any b...
1,2,Theme,Testing & Inspection Equipment,Testing and inspection equipment in the machin...
2,3,Theme,Gemstone & Diamond Production,Gemstone and diamond production is a sub-theme...
3,4,Theme,Paper,Paper is a versatile and essential product in ...
4,5,Theme,Surface Technologies,Surface technologies refer to the various tech...
...,...,...,...,...
56,57,Theme,Construction Materials,Construction Materials is a sub-industry withi...
57,58,Theme,Explosives & Firearms,Explosives & Firearms is a sub-theme within th...
58,59,Theme,Cables & Wires,Cables & Wires are a crucial component in vari...
59,60,Theme,Machinery,Machinery is a critical component of the Indus...
60,61,Theme,Mineral Exploration,Mineral exploration is the process of identify...

In [4]:
df_sub_industry

    nid        ntype  label
0     0  SubIndustry      0
1     1  SubIndustry      1
2     2  SubIndustry      2
3     3  SubIndustry      3
4     4  SubIndustry      4
5     5  SubIndustry      5
6     6  SubIndustry      6
7     7  SubIndustry      7
8     8  SubIndustry      8
9     9  SubIndustry      9
10   10  SubIndustry     10
11   11  SubIndustry     11
12   12  SubIndustry     12
13   13  SubIndustry     13
14   14  SubIndustry     14
15   15  SubIndustry     15
16   16  SubIndustry     16
17   17  SubIndustry     17
18   18  SubIndustry     18
19   19  SubIndustry     19

In [5]:
df_theme_to_sub_industry

         eid               etype
0     (0, 3)  ThemeToSubIndustry
1    (2, 14)  ThemeToSubIndustry
2     (3, 0)  ThemeToSubIndustry
3     (4, 8)  ThemeToSubIndustry
4    (5, 19)  ThemeToSubIndustry
..       ...                 ...
56  (57, 19)  ThemeToSubIndustry
57  (58, 19)  ThemeToSubIndustry
58   (59, 9)  ThemeToSubIndustry
59  (60, 11)  ThemeToSubIndustry
60   (61, 0)  ThemeToSubIndustry

[61 rows x 2 columns]

In [6]:
df_industry

   nid     ntype  label
0    0  Industry      0
1    1  Industry      1
2    2  Industry      2
3    3  Industry      3
4    4  Industry      4
5    5  Industry      5

In [7]:
df_sub_industry_to_industry

        eid                  etype
0    (0, 2)  SubIndustryToIndustry
1    (1, 2)  SubIndustryToIndustry
2    (2, 2)  SubIndustryToIndustry
3    (3, 5)  SubIndustryToIndustry
4    (4, 2)  SubIndustryToIndustry
5    (5, 2)  SubIndustryToIndustry
6    (6, 5)  SubIndustryToIndustry
7    (7, 0)  SubIndustryToIndustry
8    (8, 2)  SubIndustryToIndustry
9    (9, 2)  SubIndustryToIndustry
10  (10, 0)  SubIndustryToIndustry
11  (11, 2)  SubIndustryToIndustry
12  (12, 2)  SubIndustryToIndustry
13  (13, 1)  SubIndustryToIndustry
14  (14, 0)  SubIndustryToIndustry
15  (15, 3)  SubIndustryToIndustry
16  (16, 2)  SubIndustryToIndustry
17  (17, 2)  SubIndustryToIndustry
18  (18, 4)  SubIndustryToIndustry
19  (19, 2)  SubIndustryToIndustry